<!-- add 'footer' snippet in css -->
<div class="footer-v1 bg-img">
    <div class="footer no-margin">
        <div class="container text-light-emphasis">
            <div class="row p-lg-3">               
                <div class="col-md-4">
                    <div class="headline"><p>Resources</p></div>
                    <ul class="list-unstyled link-list">
                        <li>
                            <a class="text-decoration-none text-light" href="/blog">Blog</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-light text-capitalize" href="/login">login</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="headline">
                        <p>Support</p>
                    </div>
                    <address>
                        <ul class="list-unstyled link-list">
                            <li>
                                <a class="text-decoration-none text-light" href="#">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a class="gap-4 text-decoration-none text-light" href="#">
                                    <i class="fa fa-envelope"></i>
                                    whatsonshuffle@gmail.com
                                </a>
                            </li>
                        </ul>
                    </address>
                </div>
                <div class="col-md-4">
                    <div class="headline">
                        <p>Company</p>
                    </div>
                    <ul class="list-unstyled link-list">
                        <li>
                            <a class="text-decoration-none text-light" href="#">About Us</a>
                        </li>
                        <li> 
                            <a class="text-decoration-none text-light" href="#">Companies</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-light" href="#">Whatsonshuffle</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-light" href="#">FAQs</a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-light" href="#">Cancellation/Rescheduling policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center my-lg-4 my-3 justify-content-lg-center justify-content-end">
            <p class="text-light-emphasis text-capitalize p-lg-0 m-0">
                whatsonshuffle © 2024 <span class="text-uppercase">all rights reserved</span>
            </p>
        </div>
    </div>
</div>