<head>
    <link rel="stylesheet" type="text/css"  href="/css/style.css">
</head>

<div class='navBg'>
    <nav>
        <div class=" container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <div class="">
                    <img src="/images/shfl3.png" width="100" height="100" alt="shfl_logo"/>
                </div>
                <div>
                    <ul class="d-none d-lg-flex  align-items-start m-0 gap-3 link justify-content-center list-unstyled">
                        <li>
                            <a class="" href="/">Home</a>
                        </li>
                        <li>
                            <a class="" href="">About Us</a>
                        </li>
                        <li>
                            <a class="" href="">Services</a>
                        </li>
                        <li>
                            <a class="" href="/blogs">Blog</a>
                        </li>
                        <li>
                            <a class="" href="/login">login</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class='justify-content-end d-flex gap-4'>
                </div> -->
            </div>  
        </div>
    </nav>
</div>