<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= text.title %></title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard/dash.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="/js/logout.js" defer></script>
</head>

<body>
    <div>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-3  vh-100 overflow-y-auto d-lg-block  d-none bg-white ">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="/images/shfl3.png" width="100" height="100" alt="">
                    </div>
                    <div class="d-lg-block d-none my-lg-5">
                        <div class="">
                            <ul class="fw-bold list-unstyled  text-start text-uppercase">
                                <li class="my-lg-2">
                                    <a class="text-dark fs-4 text-decoration-none" href="/home">Home</a>
                                </li>
                                <li>
                                    <a class="text-dark fs-4 text-decoration-none" href="#"></a>
                                </li>
                                <li class="my-lg-2">
                                    <a class="text-dark fs-4 text-decoration-none" href="/blog">Blog</a>
                                </li>
                                <li>
                                    <a class="text-light fs-4 text-decoration-none shuffle-text" href="/nextbeats/dashboard">nextbeats</a>
                                    <ul class="list-unstyled px-lg-3 my-lg-2">
                                        <li class="">
                                            <div class="ms-lg-2 d-lg-flex align-items-center">
                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                                    </svg>
                                                </div>
                                                <div>
                                                    <a class="text-secondary-emphasis" href="/nextbeats/upload">upload nextbeats</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="my-lg-2">
                                    <a class="text-dark fs-4  text-decoration-none" href="/dashboard">Dashboard</a>
                                </li>
                                <li class="my-lg-2">
                                    <a class="text-dark fs-4 text-decoration-none" href="/playlist">Playlist</a>
                                </li>
                            </ul>
                        </div>
                    </div>                   
                </div>
                <div class="col-lg-9 vh-100 overflow-y-auto  bg-dark">
                    <div class="d-flex align-items-center m-3 justify-content-between">
                        <div class="d-lg-none d-block">
                            <button class="btn btn-light " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                                aria-controls="offcanvasScrolling">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                    </svg>
                            </button>
                            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                                id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">shfl</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul class="list-unstyled text-uppercase text-center fs-5">
                                        <li>
                                            <a class="text-dark-emphasis text-decoration-none" href="#">Home</a>
                                        </li>
                                        <li>
                                            <a class="text-dark-emphasis text-decoration-none" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="text-dark-emphasis text-decoration-none" href="/blog">Blog</a>
                                        </li>
                                        <li>
                                            <a class="text-light fs-4 text-decoration-none shuffle-text" href="/nextbeats/dashboard">nextbeats</a>
                                            <ul class="list-unstyled px-lg-3 my-lg-2">
                                                <li class="">
                                                    <div class="ms-lg-2 d-flex align-items-center justify-content-center gap-lg-0 gap-2">
                                                        <div>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                                class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                                                <path
                                                                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                                            </svg>
                                                        </div>
                                                        <div>
                                                            <a class="text-secondary-emphasis nextb" href="/nextbeats/upload">upload nextbeats</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="text-dark text-decoration-none " href="/dashboard">dashboard</a>
                                        </li>
                                        <li>
                                            <a class="text-dark-emphasis text-decoration-none" href="/playlist">Playlist</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-light">
                            <p class="m-0 text-capitalize fs-3"><%= text.title %></p>
                        </div>
                        <div>
                            <a id="logoutButton"  class="btn btn-danger" role="button">Log out</a>
                        </div>
                        <div class="modal" tabindex="-1" id="exampleModel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-danger">Log Out</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <!-- if user clicks on NO  stay on page -->
                                    <div class="modal-body">
                                        <p class="text-secondary">Are you sure you want to log out?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="closebtn" class="btn btn-close-white text-danger" data-bs-dismiss="modal">Yes</button>
                                        <button type="button" class="btn btn-primary" id="stayLogged">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div>
                            <%- body %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
        </script>
</body>
</html>