<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="Hero container">
        <div id="carouselExampleAutoplaying"class="carousel py-lg-3 slide w-50 mx-auto py-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item heroImg active" data-bs-interval="4000">
                    <img src="/images/Home/LLona.jpg"  class="d-block w-75 mx-auto" alt="...">
                </div>
                <div class="carousel-item heroImg" data-bs-interval="4000">
                    <img src="/images/Home/llona2.jpg" class="d-block w-75 mx-auto" alt="...">
                </div>
                <div class="carousel-item heroImg" data-bs-interval="4000">
                    <img src="/images/Home/slawn.jpg" class="d-block w-75 mx-auto" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h1 class=" shfl m-0"><%= text.shfl %></h1>
        <div class="border-bottom  art my-2 w-50 mx-auto">
            <p class="m-0 m-lg-2 fs-3 ">Your Home for art, cultural events and fashion on a shuffle</p>
        </div>
    </div>
    <div class="d-lg-flex d-block daveSect justify-content-center align-items-center gap-5 my-lg-4">
        <div class="shuffle text-dark  d-flex justify-content-center align-items-center">
            <!-- <img src="/images/Home/SHUFFLE.jpg" width="400" height="400" alt="shflbeat"> -->
             <h1 class="ene">ENERGY</h1>
        </div>
        <div class=" shuffle_dave d-flex justify-content-center align-items-center">
            <h1>Location</h1>
            <!-- <img src="/images/Home/daveXslawn.jpeg" width="400" height="400" alt="daveXslawn"> -->
        </div>
    </div>
</body>