<div class="w-50 mx-auto">
    <form id="uploadForm" action="/update/<%= post._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="PostImage" class="form-label">Post Image</label>
            <input class="form-control" type="file" name="image" aria-describedby="ImageUrl" >
        </div>
        <div class="mb-3">
            <label for="PostTitle" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="PostTitle" aria-describedby="TitleContent"
                value="<%= post.title %>">
            <div id="TitleContent" class="form-text">Post Details</div>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control textarea overflow-hidden" placeholder="Post Details" name="description"
                id="floatingTextarea"><%= post.description %></textarea>
        </div>
        <div class="d-flex align-items-center justify-content-center my-4">
            <button class="btn w-25 btn-outline-success">Update <span class="d-md-block d-none ">Post</span></button>
        </div>
        <div id="message" class="text-danger"></div>
    </form>
</div>

